.button {
  font-size: 18px;
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

// Challenge button
.button.challenge {
  background-color: var(--button-color);
  transition: 0.5s background ease;
  padding: 5px 10px;
  margin-top: 30px;
}

.button.challenge:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.button.challenge:nth-of-type(2) {
  margin-right: 20px;
}

.save-challenge {
  margin: 0 20px;
}

// Big top button
.button.large {
  color: white;
  padding: 6px 10px;
  background-color: var(--button-hover-color);
  transition: 0.5s background ease;
}

.button.large:hover {
  background-color: var(--button-color);
  color: black;
}

.button svg {
  --color: white;
}

.button:hover svg {
  --color: black;
}

button.large a {
  text-decoration: none;
}

.flexbox-button-top {
  display: flex;
  align-items: center;
  gap: 5px;
}

// Underline button
.button-underline {
  background: none;
  text-decoration: underline;
}

.underline-button-margin {
  margin-top: 11px;
}

// Radio
.radio-placeholder {
  display: inline-block;
  background: #f7a577;
  padding: 2px 15px;
}

input:checked + .radio-placeholder {
  background: black;
  color: white;
}

.radio input {
  display: none;
}

main .radio-placeholder {
  background: none;
}

header .radio-placeholder {
  margin-top: 20px;
}

main input:checked + .radio-placeholder {
  background: var(--button-color);
  color: black;
}

.radio-placeholder {
  border: solid 2px black;
}

main .radio-placeholder {
  border: solid 2px var(--button-color);
}

// Number
.question-number {
  padding: 5px 8px;
  border: solid 2px var(--button-color);
}
