.exercise-flexbox {
  display: flex;
  justify-content: space-between;
}

.exercise-background {
  background: white;
  padding: 30px;
}

.exercise-ornement {
  background: url(../img/ornement-exercise.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 140px 60px;
}

.flexbox-right-exercise {
  display: flex;
  justify-content: end;
}
