.exercise-flexbox {
  display: flex;
  justify-content: space-between;
}

.exercise-background {
  background: white;
  padding: 30px;
}

.exercise-ornement {
  background: url(../img/ornement-white.png), url(../img/ornement-yellow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 20px;
}
