.flexbox-row {
  display: flex;
  justify-content: space-between;
}

.position-right {
  display: block;
  text-align: end;
}

.background-color {
  background: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 20px 30px 30px;
}

.flexbox-info {
  display: flex;
  justify-content: space-between;
}
