.settings-window {
  background-color: black;
  color: white;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  right: 1;
  padding: 10px;
}

.settings {
  position: relative;
  margin-right: 5px;
}

.settings:hover {
  .settings-window {
    opacity: 1;
    pointer-events: all;
  }
}
