.tooltip-window {
  background-color: var(--button-color);
  position: absolute;
  bottom: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  min-width: 180px;
  transform: translateX(-50%);
  transition: opacity 0.5s;
}

.tooltip {
  position: relative;
  margin-right: 5px;
}

.tooltip:hover {
  .tooltip-window {
    opacity: 1;
    pointer-events: all;
  }
}
