/* ====================================
// css variables
// ==================================== */

:root {
  --button-color: #FAE290; 
  --button-hover-color: black;
  --button-switch: #E16064;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: gill-sans-nova, sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #F7A577;
}

h1 {
  font-family: piepie, sans-serif;
  font-size: 55px;
  font-weight: 400;
  margin-top: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 700px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

main {
  margin-bottom: 80px;
}